.chatHeader {
  width: 95%;
  display: flex;
  justify-content: space-between;
  color: gray;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #474b53;
}

.chatHeader__hash {
  color: gray;
  font-size: 30px;
  padding: 10px;
}

.chatHeader__left {
  display: flex;
  flex-direction: column;
  color: white;
}

.chatHeader__desc {
  color: white;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
}

.chatHeader__right {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  align-items: right;
}
.chatHeader__crudIcons {
  display: flex;
  justify-content: right;
  align-items: center;
}
.chatHeader__right > h4 {
  color: white;
  font-size: 18px;
}
.chatHeader__search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}

.chatHeader__search > input {
  background: transparent;
  outline-width: 0;
  color: white;
  border: none;
}
